devoneadf1970496f74b3/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "devoneadf1970496f74b3"
		},
		"DataLakeStorageGen2Sink_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://devoneac1970496f74b3.dfs.core.windows.net/"
		},
		"breweries_api_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.openbrewerydb.org/v1/breweries"
		},
		"rest_linked_service_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.openbrewerydb.org"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DataLakeStorageGen2Sink')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('DataLakeStorageGen2Sink_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Serverless')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405609667599018.18.azuredatabricks.net",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/24629d6d-64a5-49ac-97ff-6d8b924e3610/resourceGroups/dev-one-rg-1970496f74b3/providers/Microsoft.Databricks/workspaces/dev-one-databricks-1970496f74b3"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/breweries_api')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('breweries_api_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/rest_linked_service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('rest_linked_service_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/breweries_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "breweries_api",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"id": {
							"type": "string"
						},
						"name": {
							"type": "string"
						},
						"brewery_type": {
							"type": "string"
						},
						"address_1": {
							"type": "string"
						},
						"address_2": {
							"type": "null"
						},
						"address_3": {
							"type": "null"
						},
						"city": {
							"type": "string"
						},
						"state_province": {
							"type": "string"
						},
						"postal_code": {
							"type": "string"
						},
						"country": {
							"type": "string"
						},
						"longitude": {
							"type": "number"
						},
						"latitude": {
							"type": "number"
						},
						"phone": {
							"type": "string"
						},
						"website_url": {
							"type": "string"
						},
						"state": {
							"type": "string"
						},
						"street": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/breweries_api')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sink_json_adls2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLakeStorageGen2Sink",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_container": {
						"type": "string",
						"defaultValue": "one"
					},
					"p_folder": {
						"type": "string",
						"defaultValue": "raw"
					},
					"p_file": {
						"type": "string",
						"defaultValue": "file.json"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().p_folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().p_container",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLakeStorageGen2Sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/source_rest_breweries')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "rest_linked_service",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_api_breweries_page": {
						"type": "Int",
						"defaultValue": 1
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "/v1/breweries?page=@dataset().p_api_breweries_page",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/rest_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/one_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "beweries",
						"type": "DatabricksJob",
						"dependsOn": [
							{
								"activity": "breweries_api",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"jobId": "439877275774515"
						},
						"linkedServiceName": {
							"referenceName": "Serverless",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "breweries_api",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(length(activity('breweries').output), 50)",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "breweries",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET"
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "FlattenHierarchy"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "source_rest_breweries",
											"type": "DatasetReference",
											"parameters": {
												"p_api_breweries_page": {
													"value": "@variables('api_breweries_page')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "sink_json_adls2",
											"type": "DatasetReference",
											"parameters": {
												"p_container": "one",
												"p_folder": {
													"value": "api/breweries/year=@{\n    formatDateTime(convertFromUtc(utcNow(),'E. South America Standard Time'),'yyyy')\n}/month=@{\n    formatDateTime(convertFromUtc(utcNow(),'E. South America Standard Time'),'MM')\n}/day=@{\n    formatDateTime(convertFromUtc(utcNow(),'E. South America Standard Time'),'dd')\n}\n",
													"type": "Expression"
												},
												"p_file": "beweries.json"
											}
										}
									]
								},
								{
									"name": "set next page",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "breweries",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "api_breweries_nextPage",
										"value": {
											"value": "@add(variables('api_breweries_page'),1)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "set page",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "set next page",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "api_breweries_page",
										"value": {
											"value": "@variables('api_breweries_nextPage')",
											"type": "Expression"
										}
									}
								}
							],
							"timeout": "0.12:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"api_breweries_page": {
						"type": "Integer",
						"defaultValue": 1
					},
					"api_breweries_hasData": {
						"type": "Boolean",
						"defaultValue": true
					},
					"api_breweries_pagesRead": {
						"type": "Integer",
						"defaultValue": 0
					},
					"api_breweries_nextPage": {
						"type": "Integer",
						"defaultValue": 0
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-23T18:06:01Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Serverless')]",
				"[concat(variables('factoryId'), '/datasets/source_rest_breweries')]",
				"[concat(variables('factoryId'), '/datasets/sink_json_adls2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/daily')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "one_pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2026-04-23T18:06:00",
						"timeZone": "E. South America Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								1
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/one_pipeline')]"
			]
		}
	]
}